html, body, mapDiv {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
  background-color: #FFF;
  overflow: hidden;
  font-family: "Meiryo";
}

#mapDiv{
  height: 100% !important;
}

#mapDiv{
  width: 100% !important;
}

/* Basemap toggle */
.btn-group {
  position: absolute;
  height: 75px;
  width: 75px;
  top: 78px;
  right: 53px;
  z-index: 1;
}

#basemap{
  position: absolute;
  width: 75px;
  top: 56px;
  outline: none;
}
